@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: Roboto, sans-serif
}

.home-demo {
    border-top: 3px solid #f1f1f1;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 3px solid #f1f1f1
}

.owl-carousel .owl-stage {
    margin: auto
}

.incredible_offers p {
    color: #00b9f5
}

.incredible_offers .owl-carousel {
    padding: 2em 0
}

.incredible_offers .owl-carousel .owl-item {
    border-right: 1px solid #ddd;
    height: 230px
}

.incredible_offers .owl-carousel .owl-item:last-child {
    border-right: none
}

.incredible_offers .offer_one_img {
    width: 270px!important;
    margin: auto!important
}

.incredible_offers .offer_two_img {
    width: 100px!important;
    margin: auto!important
}

.incredible_offers .offer_three_img {
    width: 300px!important;
    margin: auto!important
}

.text_block {
    position: relative;
    top: -20px;
    text-align: center
}

.text_block p.help-block {
    color: #aaa
}

.text_block p {
    color: #000
}

.deal_three_img {
    width: 250px!important;
    margin: auto
}

.deal_one_img {
    width: 140px!important;
    margin: auto
}

.deal_four_img {
    width: 200px!important;
    margin: auto
}

.deal_two_img {
    width: 140px!important;
    margin: auto
}

.img_otr {
    min-height: 177px
}

@media(max-width:991px) {
    .deal_three_img,
    .incredible_offers .offer_three_img {
        width: 100%!important
    }
    /*.home-demo .owl-carousel.owl-drag .owl-item{
        width: 130px !important;
        margin: 0;
    }*/
}

.incredible_offers .offer_four_img {
    width: 170px!important;
    margin: auto!important
}