<style type="text/css">
  .or-block img{
    padding-top: 20px;
  }
  @media(min-width: 992px){
    .or-block img{
      padding-top: 55%;
    }
    .mobile-block h1{
      padding-top: 20%;
    }
  }
  .accept-payment button{
    margin: 20px 0;
  }
  #qr-container{
    background: white;
  }
  .mobile-block h1{
    font-size: 45px;
    font-weight: 700;
  }
</style>
<div class="payment_block">
      <div>
        <h3 class="tabc-header">ACCEPT PAYMENT</h3>
      </div>

      <div class="contant">
        <div class="text-center accept-payment">
          <div class="form" id="qr-container">
              
            <h3><i class="fa fa-inr" aria-hidden="true"></i> To Pay {{auth.auth.user.first_name}} {{auth.auth.user.last_name}}</h3><br>
            <div class="row">
              <div class="col-md-5">
                <label>Scan this QR code</label><br>
                <div id="payment-qrcode" style="padding-bottom:20px;"></div>
              </div>
              <div class="col-md-2 or-block">
                <img src="images/icons/exchange.png">
              </div>
              <div class="col-md-5 mobile-block">
                <h1>{{auth.auth.user.mobile_no}}</h1>
              </div>
            </div>            
              
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg" ng-click="download()">
              <i class="fa fa-download"></i>
              DOWNLOAD
            </button>            
            <a id="downloadLink" style="display:none"></a>
          </div>
        </div>
    </div>
    </div>
