<style type="text/css">

    .balance-top label{
        margin:0px;
    }

    #loader-progress
    {
      height: 2px;
      display: none;
      margin: 0px;
      left:0px;
      position: absolute;
        width: 100%;
    }

    #loader-progress > .progress-bar
    {
      background-color: red;
    }

    .modal-forgot, .modal-change-password{
      padding: 0 70px;
    }
    .resend-otp button{
        margin-top: 10px;
    }

    @-moz-keyframes spin {
        to { -moz-transform: rotate(359deg); }
    }
    @-webkit-keyframes spin {
        to { -webkit-transform: rotate(359deg); }
    }
    @keyframes spin {
        to {transform:rotate(359deg);}
    }

    .spin {
        animation: spin 1000ms linear infinite;
    }

    /* ======TOSTER CSS======= */
    .snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
    /* ======================= */

 
</style>

<div class="row custom-row">
    <div class="container">

        <div class="progress" id="loader-progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100" style="width:0%">
          </div>
        </div>
    
        <nav class="navbar">
            <div class="container-fluid">

                <div class="navbar-header">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Paytm_logo.png" width="84px" height="27px">
                </div>      

                <div class="nav navbar-nav navbar-right top-bar" >

                    <span ng-show="auth.auth">
                        <div class="col-md-6 top-bar-text">
                            <i class="fa fa-google-wallet"></i>
                            <div class="balance-top">
                                <label>Balance</label>
                                <label>$ {{auth.auth.user.balance}}</label>
                            </div>
                        </div>

                        <div class="col-md-6 top-bar-text text-center header-user-dropdown">
                            <i class="fa fa-user-o"></i>
                            <div class="user-name">
                                <label>{{auth.auth.user.first_name+' '+auth.auth.user.last_name}}</label>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a ng-click="go('home.userprofile')" href="#">Profile</a></li>
                                <li><a ng-click="logout()" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </span>

                    <span ng-show="!auth.auth">
                        <div  class="col-md-6 top-bar-text text-center" ng-click="login()" >
                            <i class="fa fa-user-o"></i>
                            <div class="user-name">
                                <label>Login</label>
                            </div>
                        </div>
                    </span>

                </div>
            </div>
        </nav>

    </div>
</div>



<div class="row row-blue custom-row">
    <div class="container menu-container">
        <div id="pay" class="col-md-1 col-sm-2 col-xs-3 tab-item tab-item-active" ng-click="go('home.pay')">
            <img src="images/icons/pay.png"><br>
            <label>Pay</label>
        </div>
        <div id="accept-payment" class="col-md-1 col-sm-2 col-xs-3 tab-item " style="min-inline-size: fit-content;" ng-click="go('home.acceptpayment')">
            <img src="images/icons/qrcode.png"><br>
            <label>Accept</label>
        </div>
        <div id="add-money" class="col-md-1 col-sm-2 col-xs-3 tab-item" ng-click="go('home.add_money')">
            <img src="images/icons/add_money.png"><br>
            <label>Add Money</label>
        </div>
        <div id="passbook" class="col-md-1 col-sm-2 col-xs-3 tab-item " ng-click="go('home.passbook')">
            <img src="images/icons/passbook.png"><br>
            <label>Passbook</label>
        </div>
    </div>
</div>


<div class="row tab-content-container custom-row">
    <div class="container">
    
    
        <ui-view></ui-view>



    </div>

    <div class="container container-space">
        <script type="text/javascript">
      function resizeIframe(obj){ obj.style.height = obj.contentWindow.document.body.scrollHeight+'px'; }
        </script>
        <iframe src="/offers" style="width:100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>

</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <!-- <div class="modal-header mod-btn">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
           
            </div> -->
            <span class="close" data-dismiss="modal">&times;</span>
            <!-- <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
            <div class="row">
                <div class="login-container">
                    <div class="col-sm-5 col-md-5" id="wallet-container-new">
                      <!-- <div class="bg-blue"> -->
                        <ul class="left">
                            <img src="images/wallet-new.svg" width=150>
                            <h4>Pay with PayNow wallet</h4>
                            <li>Pay your bills using PayNow Wallet</li>
                            <li>In case of refund, money will be credited to your wallet instantaneously</li>
                            <li>Use PayNow Wallet on other websites</li>
                        </ul>
                    </div>
                    <!-- </div> -->
                  <!-- </div> -->

                    <div class="col-sm-7 col-md-7 modal-login">
                        <form>
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                                <li><a data-toggle="tab" href="#signup">Sign Up</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="login" class="tab-pane fade in active">
                                <span ng-show="loginShow==1">

                                    <div class="col-sm-12">
                                      <input type="number" class="col-sm-12 modal-input" id="mobile_no" placeholder="Enter mobile numner" ng-model="login_user_mobile" ng-focus="user_login_error.mobile= ''">
                                      <p style="color:red" ng-show="user_login_error.mobile">{{user_login_error.mobile}}</p>
                                    </div>
                                    <div class="col-sm-12">
                                      <input type="password" class="col-sm-12 modal-input" id="password" placeholder="Enter password" ng-model="login_user_password" ng-focus="user_login_error.password = ''">
                                      <p style="color:red" ng-show="user_login_error.password">{{user_login_error.password}}</p>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <label class="pull-right" ng-click="forgotPassword()">Forgot Password?</label>
                                    </a>
                                    <div class="col-sm-12">
                                      <button type="button" class="col-sm-12 btn btn-primary" ng-click="doLogin()">
                                      <i class="fa fa-hourglass-start spin" ng-show="login_spinner"></i>
                                      <i class="fa fa-lock" ng-hide="login_spinner"></i> Secure Login</button>
                                    </div>
                                </span>

                                <span ng-show="loginShow==2">
                                    <div class="col-sm-12">
                                        <center>
                                            <h3>VERIFY MOBILE NUMBER</h3>
                                            <h5>OTP has been sent to you on your mobile number ({{login_user_mobile}}). Please enter it below.</h5>
                                        </center>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="number" class="col-md-12 modal-input" id="otp" placeholder="Enter OTP" ng-model="login_user_otp" ng-focus="user_login_error.verify_otp=''">
                                        <p style="color:red" ng-show="user_login_error.verify_otp">{{user_login_error.verify_otp}}</p>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <label class="pull-right" ng-click="resendOTP()">Didn't get the OTP?</label>
                                    </a>

                                    <div class="col-sm-12">
                                        <button type="button" class="col-sm-12 btn btn-primary" ng-click="verifyOTP()">
                                        <i class="fa fa-hourglass-start spin" ng-show="verify_otp"></i>
                                        <i class="fa fa-lock" ng-hide="verify_otp"></i> Verify OTP</button>
                                    </div>
                                </span>

                                <!-- FORGOT PASSWORD SEND OTP CODE -->
                                <span ng-show="loginShow==3">
                                    <div class="col-sm-4">
                                        <select id="country_code" name="country_code" ng-model="user_country_code" required>

                                            <option  ng-repeat="x in country_code" value="{{x['phone-code'].replace('+','')}}">{{x['alpha-2']+' '+x['phone-code']}}</option>
                                        </select>

                                        <!-- <select ng-model="user_country_code">
                                            <option value="91" selected>+91</option>
                                            <option value="99">+99</option>
                                        </select> -->
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="number" class="modal-input" id="mobile_no" placeholder="Enter mobile number" ng-model="user_mobile_no" ng-focus="forgot_login_error.mobile = ''">
                                        <p style="color:red" ng-show="forgot_login_error.mobile">{{forgot_login_error.mobile}}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="button" class="col-sm-12 btn btn-primary" ng-click="sendOTP()">
                                        <i class="fa fa-hourglass-start spin" ng-show="send_otp_spinner"></i>
                                        <i class="fa fa-lock" ng-hide="send_otp_spinner"></i> Send OTP</button>
                                    </div>
                                </span>
                  
                                <!-- FORGOT PASSWORD CHANGE PASSWORD -->
                                <span ng-show="loginShow==4">
                                    <!-- <div class="col-sm-3">
                                        <select ng-model="country_code">
                                            <option value="91" selected>+91</option>
                                            <option value="99">+99</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="number" class="modal-input" id="mobile_no" placeholder="Enter mobile number" ng-model="mobile_no">
                                      <p style="color:red" ng-show="forgot_login_error.mobile">{{user_login_error.mobile}}</p>
                                    </div> -->
                                    <div class="col-sm-6">
                                      <input type="number" class="modal-input" id="otp_code" placeholder="Enter OPT" ng-model="otp_code" ng-focus="change_password_error.otp_code = ''">
                                      <p style="color:red" ng-show="change_password_error.otp_code">{{change_password_error.otp_code}}</p>
                                    </div>
                                    <div class="col-sm-6 resend-otp">
                                      <button type="button" class="btn btn-primary" ng-click="sendOTP()">
                                      <i class="fa fa-hourglass-start spin" ng-show="send_otp_spinner"></i>
                                      <i class="fa fa-lock" ng-hide="send_otp_spinner"></i> Resend OTP</button>
                                    </div>
                                    <div class="col-sm-12">
                                      <input type="password" class="modal-input" id="new_password" placeholder="Enter new password" ng-model="new_password" ng-focus="change_password_error.new_password=''">
                                      <p style="color:red" ng-show="change_password_error.new_password">{{change_password_error.new_password}}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="button" class="col-sm-12 btn btn-primary" ng-click="changePassword()">
                                        <i class="fa fa-hourglass-start spin" ng-show="change_pw_spinner"></i>
                                        <i class="fa fa-lock" ng-hide="change_pw_spinner"></i> Change Password</button>
                                    </div>
                                </span>
                            </div>

                            <div id="signup" class="tab-pane fade">
                              <div class="col-sm-6">
                                <input type="text" class="col-sm-12 modal-input" id="firstname" placeholder="First Name" name="first_name" ng-model="register_user_fname" ng-focus="user_register_error.first_name = ''">
                                <p style="color:red" ng-show="user_register_error.first_name">{{user_register_error.first_name}}</p>
                              </div>
                              <div class="col-sm-6">
                                <input type="text" class="col-sm-12 modal-input" id="lastname" placeholder="Last Name" name="last_name" ng-model="register_user_name" ng-focus="user_register_error.last_name = ''">
                                <p style="color:red" ng-show="user_register_error.last_name">{{user_register_error.last_name}}</p>
                              </div>
                              <div class="col-sm-12">
                                <input type="email" class="col-sm-12 modal-input" id="email" placeholder="Your email address" name="email" ng-model="register_user_email" ng-focus="user_register_error.email = ''">
                                <p style="color:red" ng-show="user_register_error.email">{{user_register_error.email}}</p>
                              </div>
                              <div class="col-sm-4">
                                <select id="country_code" name="country_code" ng-model="register_user_country_code" required>

                                    <option  ng-repeat="x in country_code" value="{{x['phone-code'].replace('+','')}}">{{x['alpha-2']+' '+x['phone-code']}}</option>
                                </select>

                                <!-- <select name="country_code" ng-model="register_user_country_code">
                                  <option value="+91">91</option>
                                  <option value="+99">99</option>
                                </select> -->
                              </div>
                              <div class="col-sm-8">
                                <input type="number" class="col-sm-12 modal-input" id="mobile_no" placeholder="Your cell phone number" name="mobile_no" ng-model="register_user_mobile_no" ng-focus="user_register_error.mobile = ''">
                                <p style="color:red" ng-show="user_register_error.mobile">{{user_register_error.mobile}}</p>
                              </div>
                              <div class="col-sm-12">
                                <input type="password" class="col-sm-12 modal-input" id="password" placeholder="Enter password" name="password" ng-model="register_user_password" ng-focus="user_register_error.password = ''">
                                <p style="color:red" ng-show="user_register_error.password">{{user_register_error.password}}</p>
                              </div>                  
                              <div class="col-sm-12">
                                <button type="button" class="md-button btn btn-primary" ng-click="doRegister()">
                                <i class="fa fa-hourglass-start spin" ng-show="register_spinner"></i>
                                <i class="fa fa-lock" ng-hide="register_spinner"></i> Create your PayNow account</button>
                              </div>
                            </div>
                        </div>
                        </form>

                    </div>                    

                </div>
            </div>

        </div>

    </div>
</div>


<footer class="container-fluid text-center footer-container">
    <div class="row footer-top footer">
        <div class="container">
            <div class="pull-left">
                <label><a href="">About Us</a></label>
                <label><a href="">Partner with</a></label>
                <label><a href="">Contact Us</a></label>
                <label><a href="">Help</a></label>
            </div>
            <div class="pull-right icons">
                <span class="mobile-brands">
                    <i class="fa fa-apple"></i>
                    <i class="fa fa-windows"></i>
                    <i class="fa fa-android"></i>
                </span>
               <!--  <span class="social">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-instagram"></i>
                </span> -->
            </div>
        </div>
    </div>

    <div class="row footer-bottom">
    <div class="container">
        <div class="details">
            <div class="col-sm-9">
                <div class="">
                                    
                    <div class="text-left lf-padding">
                        <div class="top-bottom20 left-ri">
                            <div class="icon-size"><i class="fa fa-map-marker"></i></div>
                            <label>HSR Layout , Bangalore</label>
                        </div>
                        
                        <div class="top-bottom20">
                            <div class="icon-size"><i class="fa fa-phone"></i></div>
                            <label>98765498765</label>
                        </div>
                        
                        <div class="top-bottom20">
                            <div class="icon-size"><i class="fa fa-envelope"></i></div>
                            <label>support@paynow.net</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="">        
                    <div class="text-center lf-padding">
                        <h3>About the Company</h3>
                        <p>PayNow Comapany from Las Vagas, is once of the most popular Payment gate yet to be started</p>
                    </div>

                    <div class="social-icons2">
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-linkedin-square"></i>
                        <i class="fa fa-pinterest-square"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    
</footer>

<style type="text/css">
    .footer-container
    {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .footer{
        padding: 0px;
    }
    .footer-top{
        background: #05265f;
        color:#fff;
    }
    .footer label{
        padding: 18px 12px 18px 10px;
        font-weight: 500;

    }
    .footer label>a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer label>a:hover {
        color: #00b9f5 !important;
    }
    .footer .icons span i{
        font-size: 20px;
        padding: 18px 12px;
        opacity: 0.3;

    }
    .footer .icons span {
        padding:8px 8px;
    }
    .footer .icons .mobile-brands{
        border-right: solid 1px;
        opacity: 0.5;
    }
    
    .footer-bottom{
        background: #012b72;
        color:#fff;
        padding-bottom: 20px;
    }

    .footer-bottom .details{
        padding: 20px 0 20px;
    }
    .footer-bottom .details span{
        padding-top: 15px;
    }
    .footer-bottom .details .top-bottom20{
        margin: 10px 0 5px;
    }
    .footer-bottom .details .icon-size {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: #05265f;  /*#060f5f;*/
        border-radius: 50%;
        padding: 11px 0px 0px 2px;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
    }
    .footer-bottom .top-bottom20 label{
        margin-left: 10px;
    }
    .footer-bottom .details .lf-padding{
        /*padding:0 30px;*/
    }
    .footer-bottom .details .social-icons2 i{
        padding: 0 5px;
        font-size: 38px;
        color: rgba(48, 82, 142, 0.63);
    }
</style>

<script type="text/javascript">
  
// $(document).ready(function(){
//   $('#pay').on('click', function(){
//     $('#pay').addClass('tab-item-active');
//     $('#accept-payment, #add-money, #passbook').removeClass('tab-item-active');
//   });

//   $('#accept-payment').on('click', function(){
//     $('#accept-payment').addClass('tab-item-active');
//     $('#pay, #add-money, #passbook').removeClass('tab-item-active');
//   });

//   $('#add-money').on('click', function(){
//     $('#add-money').addClass('tab-item-active');
//     $('#pay, #accept-payment, #passbook').removeClass('tab-item-active');
//   });

//   $('#passbook').on('click', function(){
//     $('#passbook').addClass('tab-item-active');
//     $('#pay, #accept-payment, #add-money').removeClass('tab-item-active');
//   });
// });

function animateLoaderProgress()
  {
    $("#loader-progress").show();
    setTimeout(function(){
      
      $("#loader-progress > .progress-bar").css('width', '100%')

      setTimeout(function(){
        $("#loader-progress").hide();
        $("#loader-progress > .progress-bar").css('width', '0%')

      }, 1000);

    }, 500);
    
  }

function makeActive(menu)
  {
    console.log('menu', "#"+menu);

    animateLoaderProgress();

    $(".tab-item").removeClass('tab-item-active');

    setTimeout(function(){
      $("#"+menu).addClass('tab-item-active');
    },  100);

    
  }

  $(document).ready(function(){

    $("#pay").on('click', function(){ makeActive('pay') });
    $("#accept-payment").on('click', function(){ makeActive('accept-payment') });
    $("#add-money").on('click', function(){ makeActive('add-money') });
    $("#passbook").on('click', function(){ makeActive('passbook') });


  });

</script>