<style>
	.table>tbody>tr>td{
		height:120px;
		padding-top: 20px;
	}
	.table>tbody>tr>td>i{
		padding: 10px;
		font-size: 24px;
	}
	.icon-row{
		width: 10px;
	}
	.more-link{
		padding: 10px 0;
	}
	.tr-block .transaction-block{
		border-top:solid 2px green;
		border-left:solid 2px green;
		border-right:solid 2px green;
		padding: 20px 0px;
	}
	
	.icon-row .fa-user-o{
		color: rgba(37, 201, 204, 0.71);
	    background: #ddd;
	    border-radius: 50%;
	}

	.status-success{
		color: green;
	}

	.status-failure{
		color: red;
	}
</style>

<div class="passbook">
    <div><h3>PASSBOOK</h3></div> 

    <div class="text-center">
    	<h3>Total Balance</h3>
    	<h1>$ {{auth.auth.user.balance}}</h1>
    </div>
    <hr>

  	<div class="container">
	  	
	  	<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th></th>
	        <th>Description</th>
	        <th>Tansaction</th>
	        <th>Stauts</th>
	        <th>Remarks</th>
	      </tr>
	    </thead>
	    <tbody>
		    
	      	<tr ng-repeat="trans in transactions">	
	      		<td class="icon-row"><i class="fa fa-user-o pull-left"></i></td>
		        <td>
		        	<p>Cash {{trans.t_type}}</p>
		        	<!-- <p>{{(trans.t_type == 'PAID')? 'To' : 'From'}} : {{trans.other_user_name}}</p> -->
		        	<p ng-if="(trans.t_type == 'PAID')">To : {{trans.other_user_name}}</p>
		        	<p ng-if="(trans.t_type == 'RECEIVED')">From : {{trans.other_user_name}}</p>
		        	<p ng-if="(trans.t_type == 'ADDED')">{{ (trans.gateway)? 'Self : using ' + trans.gateway : 'From : ' + trans.other_user_name }}</p>
		        	<p>{{ trans.timestamp }}</p>
		        </td>
		        <span class="pull-right">
			        <td>{{ ((trans.t_type == 'RECEIVED') || (trans.t_type == 'ADDED'))? '+' : '-'}} $ {{trans.amount}}</td>
			        <td>
			        	<p ng-if="(trans.status == 'SUCCESS')" class="status-success">{{trans.status}}</p>
			        	<p ng-if="(trans.status == 'FAILED')" class="status-failure">{{trans.status}}</p>
			        </td>

			        <td>{{trans.remarks? trans.remarks : '---------'}}</td>
		        </span>
	      	</tr>
	      	
	    </tbody>
	  </table>
	  <div class="text-center more-link" ng-show="next_trans_url">
	  	<a href="javascript:void(0)" ng-click="getTransactions()"><< More History >></a>
	  </div>
	</div>

 </div>