<style type="text/css">
  #senangpay-form * {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 15px;
    font-variant: normal;
    padding: 0;
    margin: 0;
  }
  #senangpay-form {
    width: 480px;
    margin: 20px auto;
  }
  #senangpay-form .group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  #senangpay-form label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: block;
  }
  #senangpay-form .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }
  #senangpay-form label > span {
    width: 20%;
    text-align: right;
    float: left;
  }
  #senangpay-form .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
    width: 70%;
    height: 40px;
    float: right;
  }
  #senangpay-form .field::-webkit-input-placeholder { color: #CFD7E0; }
  #senangpay-form .field::-moz-placeholder { color: #CFD7E0; }
  #senangpay-form .field:-ms-input-placeholder { color: #CFD7E0; }
  #senangpay-form button {
    /*float: left;*/
    display: block;
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
  }
  #senangpay-form button:focus {
    background: #555ABF;
  }
  #senangpay-form button:active {
    background: #43458B;
  }
  #senangpay-form .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
  }
  #senangpay-form .success, .error {
    display: none;
    font-size: 13px;
  }
  #stripe-payment-form .success.visible, .error.visible {
    display: inline;
  }
  #senangpay-form .error {
    color: #E4584C;
  }
  #senangpay-form .success {
    color: #666EE8;
  }
  #senangpay-form .success .token {
    font-weight: 500;
    font-size: 13px;
  }
  
  .amount_error 
  {
    /*border: 1px solid red !important;*/
    color:red !important;
  }
</style>

<div class="container">
<form id="senangpay-form" method="POST" ng-submit="senangpay()">
    <div class="group">

        <label>
        <span>Amount(RM)</span>
        <input type="number" class="field" ng-model="senang_amount" placeholder="Enter amount" ng-focus="senang_amount_error=''">
        <i class="fa fa-hourglass-start spin" ng-show="login_spinner"></i>
        </label>    
    
    </div>
    <div class="text-center">
        <span ng-class="senang_amount_error ? 'amount_error' : ''">{{senang_amount_error}}</span>
    </div>

    <button type="submit">Pay {{amount}} <span ng-show="amount">RM<span></button>

</form>
</div>